html, body {
    padding: 0;
    margin: 0;
}

body {
    /* outline: 1px solid blue; */
}

.header-text
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 8px;

}
.logo-text 
{
    color: rgba(0,0,0,.9);
    font-size: 18px;
    display: inline-block;
    /* outline: 1px solid red; */
    margin-right: 20px;
}
.nav-container
{
    display: inline-block;
    /* outline: 1px solid blue; */
}

.nav-link
{
    color: rgba(0,0,0,.5);
    text-decoration: none;
    margin-right: 8px;
}

.hero-image {
    /* Because the image is in a different folder, must use ../images/ before the file name */
    background-image: url(../images/water.jpg);
    min-height: 300px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position:  top center;
    background-size: contain;
    opacity: .5;
}

.hero-image h2{
    font-family: 'Roboto', sans-serif;
    color: aquamarine;

}
.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me {
    padding: 0 8px;
}
/* container determines max size */
.profile-image {
    width: 130px;
    /* another centering technique. */
    margin: 0 auto;
}
/* img adapts to container.
donstrain either by width or height
not both.that messes up the aspect ratio*/
.profile-image img {
    width: 100%;
    border-radius: 50%;
}

/* flexbox */

/* 
Responsive Web Design Implementation
a.k.a. Media Queries!
if/else statements for your CSS
*/

/* 
Common "breakpoints
S, M, L, XL, Party size

500px
768px
1024px
1200px
1400px
*/

@media screen and (min-width: 500px) {
    .profile-image {
        outline: 5px solid red;
    }
}