@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1.5);
    }
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    padding: 0;
    margin: 0;
}

body {
    /* outline: 1px solid blue; */
}

.header-text
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 8px;

}
.logo-text 
{
    color: rgba(0,0,0,.9);
    font-size: 18px;
    display: inline-block;
    /* outline: 1px solid red; */
    margin-right: 20px;
}
.nav-container
{
    display: inline-block;
    /* outline: 1px solid blue; */
}

.nav-link
{
    color: rgba(0,0,0,.5);
    text-decoration: none;
    margin-right: 8px;
}

.hero-image {
    /* Because the image is in a different folder, must use ../images/ before the file name */
    background-image: url(../images/water.jpg);
    min-height: 300px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position:  top center;
    background-size: cover;
    /* opacity: .5; */
}

.hero-image h2{
    font-family: 'Roboto', sans-serif;
    color: aquamarine;

}
.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me {
    padding: 0 8px;
}
/* container determines max size */
.profile-image {
    width: 130px;
    /* another centering technique! */
    margin: 0 auto;    
}
/* img adapts to container.
donstrain either by width or height
not both.that messes up the aspect ratio*/
.profile-image img {
    width: 100%;
    border-radius: 50%;
}

.contact-links {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 6.25px 6.25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-links a {
    margin: 0 5.375px;
}

.contact-links .fab,
.contact-links .fas {
    font-size: 36px;
    color: white;
    margin: 0;
    /* transition: transform .375s cubic-bezier(.64,.36,.52,1.68); */
}

.contact-links a:hover .fab,
.contact-links a:hover .fas,
.contact-links a:active .fab,
.contact-links a:active .fas
{
    color: red;
    /* font-size: 48px; */
    /* transform: scale(1.375); */
    animation-name: zoom;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
} 

/* flexbox */

/* 
Responsive Web Design Implementation
a.k.a. Media Queries!
if/else statements for your CSS
*/

/* 
Common "≈
Common "breakpoints
S, M, L, XL, Party size

500px
768px
1024px
1200px
1400px
*/

@media screen and (min-width: 500px) {
    
    /* 
    1. Turn the .about-me section into a flex container
    2. Set the width of the .about-me-container so that it takes up 70% of the width
    3. Set the width of the .profile-i;mage so that it looks good.
    4. Tweak the sizes because it'll look jacked up on the first few attempts. 
    */
    .about-me {
        display: flex;
        flex-direction: row-reverse;
    
    }
    /* "Direct Child" selector */
    .about-me > div {
        /* outline: 1px solid red; */
    }
    .about-me-container {
        width: 70%;
        padding-right: 18px;
    }
    .profile-image {
        /* outline: 5px solid red; */
        width: 30%;
    }



    

}

@media screen and (min-width: 700px) {
    .hero-text h2 {
        font-size: 48px;
        /* outline: 1px solid red; */
    }
    .header-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .header-text > * {
        outline: 1px solid red;
    } */
}
@media screen and (min-width: 900px) {
    .header-text > nav {
        display: none;
    }
}